---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Planos from '../components/Planos.astro'
import ModalCidade from '../components/ModalCidade.astro'
import Qualidade from '../components/Qualidade.astro'
import PorQueGiga from '../components/PorQueGiga.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Planos />
    <Qualidade />
    <PorQueGiga />
  </main>
  <ModalCidade />
</Layout>
