---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Planos from '../components/Planos.astro'
import ModalCidade from '../components/ModalCidade.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Planos />
  </main>
  <ModalCidade />
</Layout>
