---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Planos from '../components/Planos.astro'
import ModalCidade from '../components/ModalCidade.astro'
import Qualidade from '../components/Qualidade.astro'
import PorQueGiga from '../components/PorQueGiga.astro'
import Entretenimento from '../components/Entretenimento.astro'
import CTA from '../components/CTA.astro'
import FAQ from '../components/FAQ.astro'
import Footer from '../components/Footer.astro'
import StickyBarMobile from '../components/StickyBarMobile.astro'
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Planos />
    <Qualidade />
    <PorQueGiga />
    <Entretenimento />
    <CTA />
    <FAQ />
  </main>
  <Footer />
  <ModalCidade />
  <StickyBarMobile />
</Layout>
